---
layout: page_title
title: <i class="fa fa-archive fa-lg"></i>
titlename: 标签
comments: false
---
{% for category in site.categories %} 
  <div class="tab-pane" id="{{ category[0] }}">
    <span class="fa fa-tag listing-seperator" id="{{ category[0] }}">
        <span class="tag-text" style="font-size:24px;margin-bottom:20px">{{ category[0] }}</span>
    </span>
    <div class="list-group">
      <!--<h2 class="center">{{ category[0] }}</h2>-->     <!--原来aside2上面的大标题-->
      {% for post in category[1] %}
        <a href="{{ post.url }}" class="list-group-item pjaxlink">{{post.title}}</a>
      {% endfor %}
    </div>
  </div>
{% endfor %}   